<%= form_for([@trip, @question]) do |f| %>
    <fieldset>
      <legend><%=locals[:form_title]%></legend>
    <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2 class="alert alert-error"><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li class="text-error"><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

        <%= f.label :title %>
        <%= f.text_field :title , {:placeholder=>"Ask a question", :class=>"span5"}  %>

        <%= f.label :body %>
        <%= f.text_area :body, {:placeholder=>"Give some context to the question", :class=>"span5"}%>

  <div class="actions">
    <%= f.submit :class=>"btn btn-primary" %>
  </div>
    </fieldset>
<% end %>
