<div class="row-fluid">
  <div class="span8">
    <% if !notice.nil? %>
        <div id="notice" class="text-success"><%= notice %></div>
    <% end %>
    <h1 class="span8">
      <%= @trip.title %>
    </h1>

    <div class="span8">
      <%= @trip.body %>
    </div>
    <div class="span8">
      <%= link_to 'Edit', edit_trip_path(@trip) %>
    </div>

    <div class="span8">
      <h3>Questions:</h3>
      <%= render :partial => '/questions/questions_list', :locals => {:questions => @trip.questions} %>
      <br/> <%= link_to 'Get trip advice', new_trip_question_path(@trip), {:class => 'btn btn-primary'} %>
    </div>

  </div>
  <div class="span4">
    <h3>Other trips you may like</h3>
    <ul>
      <li>
        trip 1
      </li>
      <li>trip 2</li>
    </ul>
  </div>
</div>